.idea
.vs
.\TaskProjectBackend.Presentation\obj
.\TaskProjectBackend.Presentation\bin
.\TaskProjectBackend.Application\obj
.\TaskProjectBackend.Application\bin
.\TaskProjectBackend.DataAccess\obj
.\TaskProjectBackend.DataAccess\bin
.\TaskProjectBackend.Domain\obj
.\TaskProjectBackend.Domain\bin
